/* style.css */

/* Reset default heading styles */
h1 {
    font-size: xx-large;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Optional: Center the heading */
.container {
    text-align: center;
}

/* Reset default button styles */
button {
    margin: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s ease;
}

/* Hover effect */
button:hover {
    background-color: #2980b9;
}

/* Focus effect */
button:focus {
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.5);
}

/* Active effect */
button:active {
    transform: translateY(1px);
}

.correct {
    background-color: rgb(0, 165, 0);
}

/* Hover effect */
button.correct:hover {
    background-color: #007910;
}

/* Focus effect */
button.correct:focus {
    box-shadow: 0 0 0 3px rgba(52, 219, 88, 0.5);
}

/* Active effect */
button.correct:active {
    transform: translateY(1px);
}

.wrong {
    background-color: rgb(201, 37, 37);
}

/* Hover effect */
button.wrong:hover {
    background-color: #b30000;
}

/* Focus effect */
button.wrong:focus {
    box-shadow: 0 0 0 3px rgba(219, 52, 52, 0.5);
}

/* Active effect */
button.wrong:active {
    transform: translateY(1px);
}

.button-container {
    display: flex;
    justify-content: center;
}

/* Style for the question card */
.question-card {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto; /* Center the card horizontally */
    max-width: 75%; /* Limit the maximum width of the card */
    text-align: center;
}

/* Style for the question text */
.question-card h2 {
    color: #fff; /* White text color */
    font-size: larger;
    margin-bottom: 20px;
}

/* style.css */

.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.quiz-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quiz-card {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.quiz-card:hover {
    background-color: #555;
}

.quiz-card h2 {
    margin-bottom: 10px;
}

.quiz-card p {
    margin-bottom: 20px;
}
